/* here you can put your own css to customize and override the theme */
.form-group.form-md-line-input.has-error .form-control~.form-control-focus:after{
	left: 0;
	width: 100%;
	visibility: visible;
	background: #e73d4a;
}

.btn-menu{
	height:29px;
	padding-top:5px;
	top: 0px;
}

.btn-menu-left{
	border-radius: 0px !important;
}

.btn-menu-right{
	border-radius: 0px !important;
}

.btn-menu i{
	top: 0px;
}

a:focus, a:hover{
	text-decoration: none;
}

.portlet.box.portlet-fullscreen .form-actions.bottom{
	width: 100%;
	bottom: 0;
	position: fixed;
}

.dataTables_processing{
	z-index: 1;
}

table.selectable tr:hover{
	cursor: pointer;
}

table.dataTable tbody>tr.selected, table.dataTable tbody>tr>.selected, .table-hover>tbody>tr:hover>.selected, .table-hover>tbody>tr.selected:hover>td, .table-hover>tbody>tr.selected>td.sorting_1{
	background: #B0BED9 !important;
}

/*BEGIN SELECT2*/
.select2-container--bootstrap .select2-search--dropdown--focus .select2-search__field--focus,
.select2-container--bootstrap .select2-selection,
.select2-container--bootstrap.select2-container--focus .select2-selection,
.select2-container--bootstrap.select2-container--open .select2-selection {
	-webkit-box-shadow: none;
	box-shadow: none;
	border: none;
	/*border-bottom: 1px solid #5C9BD1;*/
	outline-color: none;
}
.dataTables_length .select2.select2-container{
	border-bottom: solid 1px #9e9e9e;
}
.select2-container--default .select2-selection--single{
	border: none;
}
.select2-container--default .select2-search--dropdown .select2-search__field{
	border: none;
}
.select2-results{
	max-height: 200px
}
.select2-dropdown{
	z-index: 999;
}
/*END SELECT2*/

/*BEGIN CHECKBOX*/
.md-checkbox-list .md-checkbox.children{
	margin-left: 25px;
}
/*END CHECKBOX*/

input[type=search]{
	background-color: transparent;
	border: none;
	border-bottom: 1px solid #9e9e9e;
	border-radius: 0;
	outline: 0;
	height: 3rem;
	font-size: 18px;
	/*margin: 0 0 15px;*/
	transition: all .3s;
}